 {% load staticfiles %}
    <html>
        <head>
            <meta charset = "utf-8">
            <title>Django Girls blog</title>
            <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
            <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
            <link rel="stylesheet" href="{% static 'css/blog.css' %}">
        </head>
        <body>


   <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Blog</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="{% url 'blog.views.post_list' %}">Home</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
        {% if user.is_authenticated %}        
        <li><a href="{% url 'post_draft_list' %}">EDIT</a></li>
        <li><a href="{% url 'post_new' %}">NEW POST</a></li>
        <li>Hello {{ user.username }}<small>(<a href="{% url 'django.contrib.auth.views.logout' %}">Log out</a>)</small></li>
        {% else %}
        <li><a href="{% url 'django.contrib.auth.views.login' %}"><span class="glyphicon glyphicon-log-in"></span>Login</a></li>
        <li><a href="{% url 'contact' %}"><span class="glyphicon glyphicon-envelope"></span>Contact</a></li>
        {% endif %}
        <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        
    </ul>
  </div>
</nav>         

    <div class = "container">
        <div class = "text-center">
            <h1>Blog</h1>
            <p>Post</p>
        </div>

    </div>
    <div class="content">
        <div class="row">
            <div class="col-md-6">
            {% block content %}
            {% endblock %}
            </div>
            <div class = "col-md-6"></div>
        </div>
    </div>
</body>
    </html>